.loader {
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svg {
    width: 250px;
}

.loading-text {
    font-weight: bold;
    color: #fff;
    margin-top: 1rem;
    text-align: center; /* Align text in the center */
    position: absolute;
    bottom: 1rem; /* Adjust the distance from the bottom as needed */
    left: 50%; /* Position the text horizontally at 50% from the left */
    transform: translateX(-50%); /* Translate the text horizontally by -50% of its own width */
    width: auto; /* Let the width adjust to its content */
}
